body {
    width:100%;
    height: 100%;
    background-color:#dfe7ea;
    padding:0;
    margin:0;
    font-family: 'Averia Sans Libre', cursive;
    
    
}

#content{
    width:80%;
    height:600px;
    margin:0 auto;
    border-radius: 30px;
    text-align: center;
    background-color: #4a4b4e;
    color:#dfe7ea;
}

.visible {display:block;}
.hidden {display:none;}

.button{
    width:80px;
    height:30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 9px;
    font-size: 21px;
    cursor: pointer;
    margin:0 auto;
    }

#first_button {
    width:160px;
    margin-top: 50px;
}

ol {
    list-style-type: none;
    text-align: left;
    margin-left: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.explanation {
    width:70%;
    margin: 30px auto;
}

#new_game {
    width:160px;
    margin-top: 50px;  
}